.rght Input,
Button {
  margin: 10px;
}
#ButtonR,
#ButtonS {
  background-color: #f1f2f6;
  color: #12130f;
}
.Input {
  width: 30rem;
  border-radius: 20px;
}
img {
  margin-left: 20px;
}
.menu {
  background-color: #27187e;
}
